$BLACK_RUSSIAN: #111026;
$WHITE: #FEFEFE;
$WHITE_RGBA: rgba(254, 254, 254, 0.1);
$BLUE_MAGENTA: #4D4CAC;
$MEDIUM_LIGHT_BLUE: #9698D6;
$WEWAK: #FF808B;
$CORNFLOWER_BLUE: #5E81F4;
$AMOUR: #F7E5E9;
$LAVENDER_BLUE: #C8C9E9;
$WHISPER: #E5E5E5;
$LIGHT_BLUE: #F5F5FB;
$LAVENDER: #E5E9FA;
$WHITE_SHADE: #FDFDFE;
$MISCHKA: #DCDCE5;
$GREY: #A2A2C2;



$colorList: "BLACK_RUSSIAN", "WHITE", "WHITE_RGBA", "BLUE_MAGENTA", "MEDIUM_LIGHT_BLUE", "WEWAK", 
            "CORNFLOWER_BLUE", "AMOUR", "LAVENDER_BLUE", "WHISPER", "LIGHT_BLUE", "LAVENDER", 
            "WHITE_SHADE", "MISCHKA", "GREY"; 

@each $var in $colorList {
    .C-#{$var} {
        color: '$' + $var;
    }
}