.pContent {
    line-height: 2rem;
    margin: 0rem;
    color: $WHITE;
    font-weight: 400;
}

.coursesData {
    display: flex;
    justify-content: space-between;
}

.sectionHeading {
    .col {
        p {
            margin-top: 0px;
        }
        
        &:last-of-type {
            text-align: right;
        }
    }
}

.coursesCard {
    width: 32%;
    .row {
        margin: 0rem;

        .placeCode {
            place-self: center;
            padding: 0%;
        }

        .courseName {
            margin-left: 1rem;
        }

        .col-lg-9 {
            padding-right: 0%;
        }
        
        .pContent1 {
            @extend .pContent;
            opacity: 0.8;
            font-size: 12px;
        }
        
        .pContent2 {
            @extend .pContent;
        }
        
        .cardChild1 {
            padding: 1rem !important;
            color: $WHITE;
            @include cards($WHITE_RGBA);
        }

        .arrow {
            display: flex;
            flex-direction: column-reverse;
            padding: 0%;
            align-items: flex-end;
            margin-inline-start: auto;
            contain: size;
        }
    }
}

.coursesCard1 {
    @extend .coursesCard;
    @include cards($BLUE_MAGENTA);
}

.coursesCard2 {
    @extend .coursesCard;
    @include cards($MEDIUM_LIGHT_BLUE);
}

.coursesCard3 {
    @extend .coursesCard;
    @include cards($WEWAK);
}


@include lg {
    .coursesCard {
        .row {
            .arrow {
                width: auto;
            }
        }
    }
}

@include md {
    .coursesCard {
        width: auto;
    }
}

@include sm {
    .coursesData {
        flex-direction: column;

        .coursesCard {
            margin-bottom: 1rem;
        }
    }
}