
.greetings {

    .para-regular-16 {
        font-weight: normal;
    }

    .greetContainer {
        background-color: $AMOUR;
        border-radius: 1.1rem;
        padding: 0.75rem;

        .section-heading {
            color: $WEWAK;
        }

        .alignItems {
            align-self: center;
            margin-bottom: 1.5rem;
            padding: 0%;
            h4 {
                margin: 0;
                font-weight: 400;
            }
        }

        .align_img {
            position: absolute;
            top: -4.2rem;
            width: 160px;
            height: 160px;
        }
    }

    p {

        &:first-of-type {
            margin-bottom: 1.5rem;
        }

        // &:last-of-type {
        //     margin-bottom: 3rem;
        // }
    }
}

@include sm {
    .alignDiv {
        text-align: center !important;
    }
}

// @include lg {
//     .greetings {
//         p {
//             width: 100%;
//         }

//         img {
//             margin-top: 3rem;
//         }
//     }
// }

@include sm {
    .greetContainer {
        .align_img {
            right: 0%;
        }
    }
}

@include rwd(421) {
    .greetContainer {
        .align_img {
            top: -3.2rem !important;
        }
    }
}

@include rwd(380) {
    .greetContainer {
        .align_img {
            top: -2.5rem !important;
            right: 0.2rem !important;
            width: 122px !important;
        }
    }
}

@include rwd(320) {
    .greetContainer {
        .align_img {
            top: 0rem !important;
        }
    }
}