.sidebarCol {
    width: 23rem;
    background-color: $WHITE_SHADE;
    padding-right: 0px;

    .active {
        border-right: 2px solid $CORNFLOWER_BLUE;
    }

    .alignUpgrade {
        background-color: #f5f5fb;
        padding: 1.875rem;
        border-radius: 1rem;
        text-align: center;
        margin-top: 55%;
        width: 78%;
        margin-left: 14%;

        span {
            .upgradeImg {
                margin-top: -4.375rem; /* -70px */
                width: 6.5rem;
          }
        }
          
        p {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            padding-top: 0.5rem;
            color: #a2a2c2;
            font-weight: 400;
            margin-bottom: 10%;
            
            span {
                font-weight: 600;
                color: #111026;
            }
        }
    }

    ul {
        // width: 100%;
        border-collapse: collapse;
        list-style-type: none;
        margin: 5rem 0rem 7rem; /* 80px, 112px */

        li {
            cursor: pointer;
            // line-height: 4;
            display: block;
            margin: 0rem 0rem 3.375rem 0rem; /* 54px */
            &:first-of-type {
                //line-height: 8rem;
                font-size: 27px;
                font-weight: bold;
            }

            span {

                &:last-of-type {
                    margin-left: 1rem;
                }
            }

            .logoImg {
                width: 2.5rem;
            }

            img {
                vertical-align: text-top;
            }
        }   
    }

    // .upgradeContent {
    //     @include cards($LIGHT_BLUE);
    //     margin-bottom: 2rem;
    //     margin-top: 5rem;
    //     text-align: center;
    //     width: 80%;
    //     .imgData {
    //         width: auto;
    //         // height: 112px;
    //         // width: 105px;
    //         // left: 125px;
    //         // top: 778px;
    //     }
    // }
}

@include lg{
    .sidebarCol {    
        position: absolute;
        z-index: 1;

        .closeBtn{
            position: absolute;
            top: -7px;
            right: 2rem;
            font-size: 26px;
        }
    }
}