@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; // regular
    font-size: 16px;
    line-height: 16px;
    color: $BLACK_RUSSIAN;
    z-index: 0 ;

}

.h1-semibold-64 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.25rem; //68px
    letter-spacing: -0.03rem; //0.48px
    margin: 0rem 0rem 2.5rem 0rem; //margin-bottom: 40px;
}

.h2-semibold-48 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 4rem; //64px
    letter-spacing: -0.03rem; //0.48px
    margin: 0rem 0rem 1.5rem 0rem; //margin-bottom: 24px;
}

.h3-medium-32 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem; //32px
}

.h3-medium-24 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem; //32px
}


.h4-medium-20 {
    font-weight: 500px;
    font-size: 1.25rem;
    line-height: 1.875rem; //30px
}

.h4-regular-18 {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem; //28px
    letter-spacing: -0.03rem; //0.48px
    margin: 0rem 0rem 2.5rem 0rem; //margin-bottom: 40px;
}

.para-regular-16 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5625rem; //25px
    letter-spacing: -0.03rem; //0.48px
    margin: 0rem 0rem 2.5rem 0rem; //margin-bottom: 40px;
}

.para-regular-14 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 2rem; //24px
}

.para-regular-12 {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem; //24px
}